*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    height: 1000px;
    width: 1000px;
    border: 1px solid black; 
    margin: auto;
    margin-top: 30px;
    box-shadow: 15px 15px 20px black;
    border-radius: 20px;
    margin-right: 500px;
}
form
{
    display: flex;
    flex-direction:column ;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
    margin-left: 5px;
}
form h2
{
    font-size: 3rem;
    font-family: Cambria Math;
    margin: 30px;
    color: #09647a;
    margin-left: 5px;
}
.box
{
    padding: 12px;
    width: 105%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit
{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: #09647a;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 100px;
}
#submit:hover
{
    cursor: pointer;
    background-color: #09647a;
    color: white;
}
/* Right side */
.side
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.box
{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
